* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   color: #BCBABF;
   background-color: #0D0D0D;
}

a {
    text-decoration: none;
    color: #BCBABF;
}

a:hover {
    color: aliceblue;
}

a:visited {
    color: #BCBABF;
}

.navbar {
    background-color: #0D0D0D;
    height: 80px;
    display: flex;

    align-items: center;
    padding: 0 80px 0 80px;
    font-size: 1.4rem;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;


}

.navbar__logo {
   display: flex;
   align-items: center;
}

.navbar__logo:hover {
    color: #BCBABF;
}

.navbar__logo__img {
    height: 60px;
    width: 60x;

}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-items: center;

}

.navbar__item {
    padding: 0 0.2rem 0 0.2rem;
}

.navbar__item:nth-child(-n+3) {
    padding: 0 1rem 0 1rem;
}

.navbar__item:nth-child(4) {
margin-left: 2rem;
}

.test {
    width: 100%;  
    height: 764px;
}

.content__container {
   display: flex;
   flex-direction: column;
   background-color: #0D0D0D;
   padding: 20px 80px 20px 60px;
}

.About__container {
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.Training__container {
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
 
}

.Training__image {
    display: flex;
    object-fit: contain;
}

.Training__text {
    /* flex: 1 1 auto; */
}

.Diet__container {
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.content__img {
    background-color:  #BCBABF;
    width: 400px;
    height: 480px;
    display: flex;
}

.content__txt {
    width: 400px;
    font-size: larger;
}


.footer {
    width: 100%;
    height: 300px;
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
}

